.container {
    margin-top: 80px;
    .owl-carousel {
        top: 40px;
    }
    .owl-carousel .item-video {
        height: 300px;
    }
    .owl-dots {
        text-align: center;
        margin-top: 20px;
        .owl-dot {
            display: inline-block;
            span {
                width: 11px;
                height: 11px;
                background: #ffffff;
                border-radius: 50%;
                display: block;
                margin: 5px 3px;
            }
            &.active {
                span {
                    background-color: #000000;
                }
            }
        }
    }
}