* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 16px
}

body {
    //Contianers
    .container {
        scroll-snap-type: both mandatory;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        // Sections
        section {
            scroll-snap-align: start;
            scroll-margin-left: 100px;
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            /* Section 1,2,3,4's code */
            &:nth-of-type(1) {
                background: #fcf0b1;
            }
            &:nth-of-type(2) {
                background: #c3f4f8;
            }
            &:nth-of-type(3) {
                background: #a6f3fa;
            }
            &:nth-of-type(4) {
                background: #fcc8e7;
            }
            /* --- */
            .content {
                max-width: 800px;
                padding: 40px;
                text-align: center;
                >h2 {
                    font-size: 4em;
                    color: #111;
                }
                >p {
                    font-size: 1.3em;
                    line-height: 1.4em;
                }
            }
        }
    }
}

.tile {
    width: 120px;
    height: 4em;
    margin: 0;
    .tile_text {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 120px;
        white-space: nowrap;
    }
}

@media (max-width: 991px) {
    container {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: auto;
        transform: none !important;
    }
}